@import 'colors.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;

    .navbar-logo a {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        line-height: 60px;
        text-decoration: none;
    }

    .navbar-menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        .navbar-item {
            margin: 0 15px;

            a {
                text-decoration: none;
                color: $secondary-color;
                font-weight: 500;
                line-height: 60px;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .navbar-login {
        a {
            text-decoration: none;
            color: $secondary-color;
            padding: 8px 16px;
            border: 1px solid $primary-color;
            border-radius: 4px;
            line-height: 44px;

            &:hover {
                background-color: $hover-background-color;
                color: $hover-text-color;
            }
        }
    }
}
